
<footer>
  <div class="copyright">
    <p>Copyright © 2021 Arceus Consulting</p>
    <p>All Rights Reserved.</p>
  </div>
  <ul class="nav-bar__menu">
    <li><a href="/litigation">Litigation</a></li>
    <li><a href="/corporate">Corporate</a></li>
    <li><a href="/hni">HNI</a></li>
    <li><a href="/cyber">Cyber</a></li>
    <li><a href="/case-studies">Case Studies</a></li>
  </ul>
  <script src="https://unpkg.com/jarallax@1/dist/jarallax.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/particles.js@2.0.0/particles.min.js"></script>
  <script src="../javascripts/index.js"></script>
</footer>
