<header>
  <div class="nav-bar">
    <a href="#">
      <img src="../images/logo.png" class="nav-bar__logo">
    </a>
    <ul class="nav-bar__menu">
      <li><a href="#">Litigation</a></li>
      <li><a href="#">Corporate</a></li>
      <li><a href="#">Investment</a></li>
      <li><a href="#">Cyber</a></li>
      <li><a href="#">Case Studies</a></li>
      <li><a href="#">Contact Us</a></li>
    </ul>
  </div>
</header>
