<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;1,600&family=PT+Sans+Narrow:wght@400;700&family=Raleway:ital,wght@1,300&display=swap" rel="stylesheet">
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <%include header.ejs%>
    <div class="slide slide__intro">
      <div id="particles-js"></div>
      <div class="slide__caption">
        <h3>Who We Are?</h3>
        <p>Arceus Consulting is a cyber technology powered investigation firm. We specialize in solving complex issues connected to national security, political events, corporate processes and personal.</p>
      </div>
      <div class="slide__image">
        <div class="slide__caption">
          <div>
            <h3>Who We Are?</h3>
            <p>Arceus Consulting is a cyber technology powered investigation firm. We specialize in solving complex issues connected to national security, political events, corporate processes and personal.</p>
          </div>
          <div>
            <h3>What We Do?</h3>
            <p>We provide custom solutions using cyber technology and our analytical expertise to anticipate and mitigate risks for corporates, financial institutions, government institutions, law firms, and high net worth individuals and family offices.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="js-jarallax">
      <img class="jarallax-img" src="../images/skyscraper.jpeg" alt="">
      <h2 class="slide__heading">What Makes Us Unique</h2>
    </div>
    <div class="slide slide--gray">
      <div class="grid">
        <div class="tile">
          <div class="tile__content">
            <h4 class="content__heading">Technology Driven</h4>
            <p class="content__description">
              Arceus Consulting is a technology driven organization. With our innovative tools and methodologies, we gather critical information and intelligence for our clients and trace potential sources of interest.
            </p>
          </div>
        </div>
        <div class="tile">
          <div class="tile__content">
            <h4 class="content__heading">Cyber Expertise</h4>
            <p class="content__description">
              Our cyber consultants have years of global experience working on a wide range of critical and challenging cases. With our cyber prowess, we can gather intelligence from the deep web, counter and contain real world cyber-attacks and provide complete personalised security solutions.
            </p>
          </div>
        </div>
        <div class="tile">
          <div class="tile__content">
            <h4 class="content__heading">Government Authorised</h4>
            <p class="content__description">
              Arceus Consulting is an Indian Government approved organization. Our testimonies and reports are valid and can be submitted as evidence in the court of law in India.
            </p>
          </div>
        </div>
        <div class="tile">
          <div class="tile__content">
            <h4 class="content__heading">Extensive Database</h4>
            <p class="content__description">
              We can gather accurate and timely intelligence through our proprietary databases and our expertise in accessing the information on limited-access global databases of financial, regulatory, commercial, technical, and legal databases.
            </p>
          </div>
        </div>
        <div class="tile">
          <div class="tile__content">
            <h4 class="content__heading">Social Engineering Expertise</h4>
            <p class="content__description">
              Combining our knowledge of real-world intelligence, social media and digital expertise, we are experts in leveraging social engineering to serve a wide range of our client needs for extraction of human intelligence.
            </p>
          </div>
        </div>
        <div class="tile">
          <div class="tile__content">
            <h4 class="content__heading">Analytics</h4>
            <p class="content__description">
              We leverage the power of analytics, in-depth research, and creative thinking to provide services for a wide range of client needs. Our team of consultants actively uses data analytics to provide the highest quality service to our clients, from due diligence to forensics.
            </p>
          </div>
        </div>
      </div>
      <img src="../images/wave.png" class="wave-background">
    </div>
    <div class="slide slide--black">
      <h2 class="slide__heading">Success Factors</h2>
      <div class="grid">
        <div class="tile tile--recipe">
          <div class="tile__icon">
            <img src="../images/solution.png">
          </div>
          <div class="tile__content">
            <h4 class="content__heading">Custom Solutions</h4>
            <p class="content__description">
              We Think, Build and Deliver custom solutions that we believe are the best for our clients. Our forte is creating custom build brand new approaches for every operation to deliver optimum results. Our proprietary technology and inhouse expertise developed over years of experience enables us to cater to your specific needs and requirements.
            </p>
          </div>
        </div>
        <div class="tile tile--recipe">
          <div class="tile__icon">
            <img src="../images/time-efficiency.png">
          </div>
          <div class="tile__content">
            <h4 class="content__heading">Timely and Effecient</h4>
            <p class="content__description">
              We know that intelligence is needed at the right time and at the right place to utilise it in the most optimal way. We reverse engineer our actions and time the clock basis the prime objective. We determine facts quickly and accurately.
            </p>
          </div>
        </div>
        <div class="tile tile--recipe">
          <div class="tile__icon">
            <img src="../images/value.png">
          </div>
          <div class="tile__content">
            <h4 class="content__heading">Value</h4>
            <p class="content__description">
              Data is valuable only when it is converted into intelligence. We extract valuable insights and information from data. Our analytical skills of experience enriched AI platform and multiple eye approach ensures that we deliver highest actionable value always.
            </p>
          </div>
        </div>
        <div class="tile tile--recipe">
          <div class="tile__icon">
            <img src="../images/crisis.png">
          </div>
          <div class="tile__content">
            <h4 class="content__heading">Crisis Experience</h4>
            <p class="content__description">
              We have been there before, and we know how it feels. Through our vast operational experience, we have developed an effective methodological approach. From combating crises to providing strong resilience for your business, we   stand with you in every adverse situation.
            </p>
          </div>
        </div>
        <div class="tile tile--recipe">
          <div class="tile__icon">
            <img src="../images/trust.png">
          </div>
          <div class="tile__content">
            <h4 class="content__heading">Trust</h4>
            <p class="content__description">
              Every dispute has two sides of the coin, we pick a side and don’t let our integrity get compromised with our strong ethical values and stringent inhouse policies. We follow a no name policy to ensures that we don't cross paths with the other side of the coin by strong client onboarding checks prior engagements.
            </p>
          </div>
        </div>
        <div class="tile tile--recipe">
          <div class="tile__icon">
            <img src="../images/innovation.png">
          </div>
          <div class="tile__content">
            <h4 class="content__heading">Innovation</h4>
            <p class="content__description">
              Obvious and predictable is always covered and wiped. To solve a complex issue, innovation comes in handy to uncover what's not been thought of and provides the strongest lead to solve an issue. We at Arceus believe in innovation for every engagement we undertake and use the latest technologies in cyber and digital to stay a step ahead.
            </p>
          </div>
        </div>
      </div>
      <img src="../images/globe.jpeg" class="globe">
    </div>
  </body>
  <%include footer.ejs%>
</html>
