<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;1,600&family=PT+Sans+Narrow:wght@400;700&family=Raleway:ital@display=swap" rel="stylesheet">
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <%include header.ejs%>
    <div class="slide slide__intro">
      <div id="particles-js"></div>
      <div class="slide__caption">
        <h3>Who We Are?</h3>
        <p>Arceus Consulting is a leading cyber consultancy specialising in cyber security, investigations, political risks, national security issues and disputes.</p>
      </div>
      <div class="slide__image">
        <div class="slide__caption">
          <h3>What We Do?</h3>
          <p>We provide custom solutions using cyber technology and our analytical expertise to anticipate and mitigate risks for corporates, financial institutions, government institutions, law firms, and high net worth individuals and family offices.</p>
        </div>
      </div>
    </div>
    <div class="js-jarallax">
      <img class="jarallax-img" src="../images/skyscraper.jpeg" alt="">
    </div>
    <div class="slide slide--gray">
      <h2 class="slide__heading">What Makes Us Unique</h2>
      <div class="grid">
        <div class="tile">
          <div class="tile__content">
            <h4 class="content__heading">Technology Driven</h4>
            <p class="content__description">
              Arceus Consulting is a technology driven organization. With our innovative tools and methodologies, we gather critical information and intelligence for our clients and trace potential sources of interest.
            </p>
          </div>
        </div>
        <div class="tile">
          <div class="tile__content">
            <h4 class="content__heading">Cyber Expertise</h4>
            <p class="content__description">
              Our cyber consultants have years of global experience working on a wide range of critical and challenging cases. With our cyber prowess, we can gather intelligence from the deep web, counter and contain real world cyber-attacks and provide complete personalised security solutions.
            </p>
          </div>
        </div>
        <div class="tile">
          <div class="tile__content">
            <h4 class="content__heading">Government Authorised</h4>
            <p class="content__description">
              Arceus Consulting is an Indian Government approved organization. Our testimonies and reports are valid and can be submitted as evidence in the court of law in India.
            </p>
          </div>
        </div>
        <div class="tile">
          <div class="tile__content">
            <h4 class="content__heading">Extensive Database</h4>
            <p class="content__description">
              We can gather accurate and timely intelligence through our proprietary databases and our expertise in accessing the information on limited-access global databases of financial, regulatory, commercial, technical, and legal databases.
            </p>
          </div>
        </div>
        <div class="tile">
          <div class="tile__content">
            <h4 class="content__heading">Social Engineering Expertise</h4>
            <p class="content__description">
              Combining our knowledge of real-world intelligence, social media and digital expertise, we are experts in leveraging social engineering to serve a wide range of our client needs for extraction of human intelligence.
            </p>
          </div>
        </div>
        <div class="tile">
          <div class="tile__content">
            <h4 class="content__heading">Analytics</h4>
            <p class="content__description">
              We leverage the power of analytics, in-depth research, and creative thinking to provide services for a wide range of client needs. Our team of consultants actively uses data analytics to provide the highest quality service to our clients, from due diligence to forensics.
            </p>
          </div>
        </div>
      </div>
      <img src="../images/wave.png" class="wave-background">
    </div>
    <div class="slide slide--black">
      <h2 class="slide__heading">Success Factors</h2>
      <div class="grid">
        <div class="tile tile--recipe">
          <div class="tile__icon">
            <img src="../images/icon-1.png">
          </div>
          <div class="tile__content">
            <h4 class="content__heading">Custom Solutions</h4>
            <p class="content__description">
              Agile and Adaptable expertise to suit client needs.
            </p>
          </div>
        </div>
        <div class="tile tile--recipe">
          <div class="tile__icon">
            <img src="../images/icon-2.png">
          </div>
          <div class="tile__content">
            <h4 class="content__heading">Timely and Effecient</h4>
            <p class="content__description">
              We determine facts quickly and accurately.
            </p>
          </div>
        </div>
        <div class="tile tile--recipe">
          <div class="tile__icon">
            <img src="../images/icon-3.png">
          </div>
          <div class="tile__content">
            <h4 class="content__heading">Value</h4>
            <p class="content__description">
              We provide credible and implementable solutions.
            </p>
          </div>
        </div>
        <div class="tile tile--recipe">
          <div class="tile__icon">
            <img src="../images/icon-1.png">
          </div>
          <div class="tile__content">
            <h4 class="content__heading">Crisis Experience</h4>
            <p class="content__description">
              We help you to navigate and effectively manage crisis based on our past experiences.
            </p>
          </div>
        </div>
        <div class="tile tile--recipe">
          <div class="tile__icon">
            <img src="../images/icon-2.png">
          </div>
          <div class="tile__content">
            <h4 class="content__heading">Trust</h4>
            <p class="content__description">
              We help you to return to normalcy and safeguard you from future risks.
            </p>
          </div>
        </div>
        <div class="tile tile--recipe">
          <div class="tile__icon">
            <img src="../images/icon-3.png">
          </div>
          <div class="tile__content">
            <h4 class="content__heading">Innovation</h4>
            <p class="content__description">
              We use the latest technologies in cyber and digital to stay a step ahead.
            </p>
          </div>
        </div>
      </div>
      <img src="../images/globe.jpeg" class="globe">
    </div>
    <script src="https://unpkg.com/jarallax@1/dist/jarallax.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/particles.js@2.0.0/particles.min.js"></script>
    <script src="../javascripts/index.js"></script>
  </body>
  <%include footer.ejs%>
</html>
