<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link href="https://fonts.googleapis.com/css?family=Merriweather:300,400,700,800|Muli:300" rel="stylesheet">
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <%include header.ejs%>
    <div class="slide slide__intro">
      <div class="slide__caption">
        <h3>Who We Are?</h3>
        <p>A select group of veterans from the elite intelligence units that specialises in tailored
        solutions to complex business and litigation challenges</p>
        <button class="contact-us">Get In Touch</button>
      </div>
      <div class="slide__image"></div>
    </div>
    <div class="slide slide__what-we-do">
      <div class="slide__caption">
        <h3>What We Do?</h3>
        <p>Tailor-made solutions based on high-quality intelligence cutting- edge technology, unique expertise and out-of-the-box thinking.</p>
      </div>
      <div class="slide__image"></div>
    </div>
    <div class="slide">
      <h2 class="slide__heading">What Makes Us Unique</h2>
      <div class="grid">
        <div class="tile">
          <div class="tile__thumbnail">
            <img src="../images/tile-1.jpeg">
          </div>
          <div class="tile__content">
            <h4 class="content__heading">Cutting-Edge Analytical Skills</h4>
            <p class="content__description">
              Cutting-edge analytical and research skills are at the heart of every solid intelligence project.
              Highly experienced and trained in elite military and governmental intelligence units,
              the Arceus team uses creative and inventive thinking to connect the dots.
            </p>
          </div>
        </div>
        <div class="tile">
          <div class="tile__thumbnail">
            <img src="../images/tile-2.jpeg">
          </div>
          <div class="tile__content">
            <h4 class="content__heading">Harvesting In The Cyber World</h4>
            <p class="content__description">
              Arceus has developed innovative tools and methodologies to handle massive amounts of data.
              We unearth useful information for our clients and map all potential sources of interest by
              trawling the deep web and harvesting information from typically inaccessible areas of the Internet such as the Dark Net.
            </p>
          </div>
        </div>
        <div class="tile">
          <div class="tile__thumbnail">
            <img src="../images/tile-3.jpeg">
          </div>
          <div class="tile__content">
            <h4 class="content__heading">Languages And Cultures</h4>
            <p class="content__description">
              With its multi-lingual background, including more than 30 native speakers of different languages,
              and a unique understanding of many local cultures, the team is uniquely skilled to operate in Europe, the Middle East,
              the Former Soviet Union, Latin America and many other regions, while handling various cultural challenges.
              Arceus has already operated successfully in over 40 countries.
            </p>
          </div>
        </div>
        <div class="tile">
          <div class="tile__thumbnail">
            <img src="../images/tile-4.jpeg">
          </div>
          <div class="tile__content">
            <h4 class="content__heading">Extensive Database Access</h4>
            <p class="content__description">
              We have unique experience accessing and analysing information on various platforms,
              including more than 240 limited-access financial, commercial, regulatory, legal and technical
              databases, gaining lawful access to new resources in accordance with our clients' needs.
            </p>
          </div>
        </div>
        <div class="tile">
          <div class="tile__thumbnail">
            <img src="../images/tile-5.jpeg">
          </div>
          <div class="tile__content">
            <h4 class="content__heading">Pro-Active Approach</h4>
            <p class="content__description">
              We overcome limited-access sources by taking a can-do, dynamic approach.
              We have developed several unique methods, especially in the social engineering field,
              that allow us to move freely in and to extract valuable information from limited access sources,
              both in virtual and physical environments.
            </p>
          </div>
        </div>
        <div class="tile">
          <div class="tile__thumbnail">
            <img src="../images/tile-6.jpeg">
          </div>
          <div class="tile__content">
            <h4 class="content__heading">Ethical Conduct</h4>
            <p class="content__description">
              We only use human intelligence to discover the truth and always act lawfully in each
              jurisdiction in which we operate. We do not undertake any projects involving violent crime of any kind,
              including sexual harassment. We never use intimidation, blackmail or hacking to obtain information,
              and we only ever record conversations that we are a party to.
              We do not put words into people’s mouths and our recordings are never edited to change the meaning of a conversation.
              Full, unedited transcripts of our recordings are always provided to the court.
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="slide">
      <h2 class="slide__heading">Our Recipe For Success</h2>
      <div class="grid">
        <div class="tile tile--recipe">
          <div class="tile__icon">
            <img src="../images/global.svg">
          </div>
          <div class="tile__content">
            <h4 class="content__heading">Resourcefulness</h4>
            <p class="content__description">
              We commit ourselves to devising "out of the box" solutions.
              We believe that any goal can be reached through creativity and an open mind.
            </p>
          </div>
        </div>
        <div class="tile tile--recipe">
          <div class="tile__icon">
            <img src="../images/global.svg">
          </div>
          <div class="tile__content">
            <h4 class="content__heading">Enthusiasm</h4>
            <p class="content__description">
              We strive to create added-value for our clients.
              We never stop thinking about what else can be done to further promote our clients' interests.
            </p>
          </div>
        </div>
        <div class="tile tile--recipe">
          <div class="tile__icon">
            <img src="../images/global.svg">
          </div>
          <div class="tile__content">
            <h4 class="content__heading">Confidentiality</h4>
            <p class="content__description">
              We see ourselves as our clients' confidants, and staunchly believe
              that we can achieve our goals only through complete co-operation with, and the trust of, our clients.
            </p>
          </div>
        </div>
        <div class="tile tile--recipe">
          <div class="tile__icon">
            <img src="../images/global.svg">
          </div>
          <div class="tile__content">
            <h4 class="content__heading">Professionalism</h4>
            <p class="content__description">
              Professionalism is the keystone of our success.
              We select the best experts in each field to ensure that the service we provide is second to none.
            </p>
          </div>
        </div>
        <div class="tile tile--recipe">
          <div class="tile__icon">
            <img src="../images/global.svg">
          </div>
          <div class="tile__content">
            <h4 class="content__heading">Integrity</h4>
            <p class="content__description">
              We maintain total transparency with our clients.
              We always provide details of our work and explain our actions,
              and we always operate in full coordination with our clients.
            </p>
          </div>
        </div>
        <div class="tile tile--recipe">
          <div class="tile__icon">
            <img src="../images/global.svg">
          </div>
          <div class="tile__content">
            <h4 class="content__heading">Efficiency</h4>
            <p class="content__description">
              We work swiftly and efficiently to ensure timely product delivery in the format most appropriate for the client.
            </p>
          </div>
        </div>
      </div>
    </div>
  </body>
  <%include footer.ejs%>
</html>
